<!-- Card Blog -->
<div class="max-w-[85rem] py-10 px-4 md:px-16  mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Insights</h2>
      <p class="mt-1 text-gray-600">Stay in the know with insights from industry experts.</p>
    </div>
    <!-- End Title -->
    <!-- Icon Blocks -->
    <div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-12">
            <app-icon-block 
            [icon]="'https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80'" 
            [title]="'Responsive, and mobile-first project on the web'" 
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum augue at eros vestibulum, eget sodales purus semper.'"
            ></app-icon-block>
            <app-icon-block 
            [icon]="'https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80'" 
            [title]="'Responsive, and mobile-first project on the web'" 
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum augue at eros vestibulum, eget sodales purus semper.'"
            ></app-icon-block>
            <app-icon-block 
            [icon]="'https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80'" 
            [title]="'Responsive, and mobile-first project on the web'" 
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum augue at eros vestibulum, eget sodales purus semper.'"
            ></app-icon-block>
            <app-icon-block 
            [icon]="'https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80'" 
            [title]="'Responsive, and mobile-first project on the web'" 
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum augue at eros vestibulum, eget sodales purus semper.'"
            ></app-icon-block>
        </div>
    </div>
    <!-- End Icon Blocks -->
  </div>
  <!-- End Card Blog -->